@import "bootstrap/scss/bootstrap";

a{
  text-emphasis: none;
  text-decoration: none;
  // on hover
  &:hover {
    text-decoration: none;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.text-sm{
  font-size: .875rem;
}

h4 {
  font-size: rfs-fluid-value(0.9rem);
  margin-bottom: 0;
}

@include media-breakpoint-up(sm) {
  h2{
    font-size: rfs-fluid-value(2.2rem);
  }
  h3{
    font-size: rfs-fluid-value(1.4rem);
  }
  p {
    font-size: rfs-fluid-value(1rem);
  }
  h4{
    font-size: rfs-fluid-value(1rem);
  }
  
  .text-sm{
    font-size: 1rem;
  }
}










