$background-black: #293241;
$background-black-1: #3e4754;
$background-light: #edf2f4;
$background-light-1: #d5dadc;
$primary-dark: #fdca40;
$primary-light: #0239cf;
$secondary-dark: #9cdcfe;
$secondary-light: #801479;
$html-closing-tag: #7d7d7d;