$background-black: #293241;
$background-black-1: #3e4754;
$background-light: #edf2f4;
$background-light-1: #d5dadc;
$primary-light: #0239cf;
$secondary-light: #801479;

$primary: $primary-light;
$primary-dark: #fdca40;

$body-bg-dark: $background-black;
$body-bg: $background-light;

$body-color-dark: $background-light;
$body-color: $background-black;

$link-color:  $background-black ;
$link-hover-color: $primary;
$link-color-dark: $background-light;
$link-hover-color-dark: $primary-dark;


$secondary: #9CDCFE;
$secondary-dark: #801479;

$font-family-base: "Roboto Mono", monospace;
$paragraph-margin-bottom: 0;
$carousel-transition-duration: .4s;
$display-font-weight: 400;

