$background-black: #293241;
$background-black-1: #3e4754;
$background-light: #edf2f4;
$background-light-1: #d5dadc;
$primary-dark: #fdca40;
$primary-light: #0239cf;
$secondary-dark: #9cdcfe;
$secondary-light: #801479;
$html-closing-tag: #7d7d7d;

$body-bg: $background-black;
$body-color: $background-light;
$font-family-base: "Roboto Mono", monospace;
$primary: $primary-dark;
$secondary: $secondary-dark;
$paragraph-margin-bottom: 0;
$carousel-transition-duration: .4s;
$display-font-weight: 400;

